body{
    background-color: black;
    padding-top: 4rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h1{
    color: white;
    font-size: 1.5rem;
}
@media  screen and (min-width:800px) {
    h1{
        font-size: 1.9rem;

    }
}
.page1-wrraper{
    text-align: center;
    margin-top: 6rem;
}

.greenshark-logo{
    height: 160px;
    margin-bottom: 5rem !important;
}

.download-nowBtn{
    padding: 15px 20px  ;
    border: 0;
    border-radius: 4px;
    background-color: #36d62eb6 ;
    color:white ;
    font-size:1rem ;
    cursor: pointer ;
    font-weight: bold ;
}


p{
    color:white;
    font-size: 2rem;
}

/* page 2 styles */
.carousel {
    width: 90%;
    margin-inline: auto;
    height: auto;
    /* max-height: 500px; */
    position: relative;
    overflow: hidden;
}
@media screen and (min-width:400px){
.carousel{
height: 500px ;
}
}
.carousel-inner {
    width: 100%;
    height: 100%;
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-slide {
    flex: 0 0 100%;
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.carousel-button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

img{
  width: 100%;
  object-fit:contain;
  border-radius: 10px;
  height: 100%;
}
.pagination button {
    margin: 0 5px;
}

.downloadBtn2{
  cursor:not-allowed;
  padding: 10px ;
  font-weight:500;
  font-size: 1rem;
  color: #999999; /* Set a lighter text color */
  background-color: #ccc;
  
  opacity: 0.5;
  border-radius: 4px;
  border: 0;
}
.carousel-slide{
  margin-bottom: 2rem;

}
.pagination button{
padding: 7px 12px;
border-radius: 4px;
border: 0;
color: white;
background-color: green;
margin-top: 1rem;
cursor: pointer;
}
.disableBtn{
color: #999999; /* Set a lighter text color */
  background-color: #ccc;
  opacity: 0.5;
  cursor:not-allowed !important;
}

.container{
max-width: 900px; 
text-align: center;
margin-inline: auto;
}
.loading-spinner {
display: none;
width: 40px;
height: 40px;
margin: 0 auto;

background-color: white;
border-radius: 50%;
border: 3px solid rgba(0, 0, 0, 0.1);
border-top-color: #000;
margin-top: 3rem;
animation: spin 1s infinite linear;
}

@keyframes spin {
to {
transform: rotate(360deg);
}
}
.hidden{
display: none;
}